.container {
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_loading {
    width: 80px;
    height: 80px;
    color: orange;
    background:
        linear-gradient(currentColor 0 0),
        linear-gradient(currentColor 0 0),
        linear-gradient(currentColor 0 0),
        linear-gradient(currentColor 0 0);
    background-size: 41px 41px;
    background-repeat: no-repeat;
    animation: boxes 1.5s infinite cubic-bezier(0.3, 1, 0, 1);

}

@keyframes boxes {
    0% {
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    }

    33% {
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        width: 120px;
        height: 120px;
    }

    66% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0%;
        width: 120px;
        height: 120px;
    }

    100% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    }
}

.content h5 {
    position: fixed;
    top: 420px;
    left: 570px;
}